#button {
  border: none;
  font-family: "Coiny";
  line-height: 1;
  text-transform: uppercase;
  font-size: 33px;
  padding: auto;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
}

.h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: 300;
  text-transform: capitalize;
  text-shadow: 0 -6.25px #0c2ffb, 0 -12.5px orange, 0 6.25px green,
    0 12.5px black;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: purple;
  padding: 15px;
}

.footer {
  background-color: green;
  margin: 0 auto;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 28px 0 28px 0;
  color: white;
  position: fixed;
  bottom: 0;
}

.spinner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 100px;
  border: 18px solid green;
  border-top-color: black;
  animation: 4s spin infinite ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
